.form{
  background-color:dodgerblue;
  color:#fff;
  max-width:650px;
  margin:0 auto;
  margin-bottom:4rem;
  padding:1rem 2rem;
  border-radius:25px;

}

.form input{
  background-color:#ededed;
  border-color:transparent;
  border-radius:15px;
  margin:10px;
}

.form button{
  display:inline-block;
  background-color: #000;
  color:#fff;
  border-color:transparent;
  margin-top:1rem;
  padding:0.15rem 0.25rem;
  border-radius:12px;
  cursor:pointer;
}
.item{
  background-color:coral;
  color:#fff;
  max-width:600px;
  margin:2rem auto;
  border-radius:18px;
  padding:12px 15px;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}